.main{
	-fx-background-color:
		linear-gradient(to top left, #DDD, white);
}

.menu{
	-fx-background-color:
		linear-gradient(to top, #DDD, #EEE);
	-fx-border-color:transparent grey transparent transparent;
}

.messages{
	-fx-background-color:white ;
	-fx-border-color:lightgrey;
}

.message-text{
	-fx-background-color:white;
}

.distribution-viewer{
	-fx-background-color:#f8f8f8;
	-fx-border-color:lightgrey;
}